.rmpm-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: #fff;
}

.rmpm-graph-container {
  flex: 1;
  padding: 0 20px 20px 20px;
  border-radius: 18px;
  min-width: 0;
  display: flex;
  min-height: 350px;
}

.rmpm-table-container {
  flex: 1;
  padding: 0 20px 20px 20px;
  display: flex;
  overflow: hidden;
  min-height: 0;
}

.rmpm-card-header {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rmpm-card-header-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}
